{% extends "base_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{form|crispy}}
    <div class="row titulo">
        <div class="titulo_texto">
            <h1>Bienvenido Administrador: {{user.username | upper}}</h1>
        </div>
    </div>    
    <a href="{% url 'registrar_empleado' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i>Registro</a>
    <a href="{% url 'lista_empleado' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i>Lista</a>
    <a href="{% url 'logout' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i>Salir</a>
</form>
{% endblock content %}