{% extends "base_layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<form action="" method="post" autocomplete="off">
  {% csrf_token %}
  {{form|crispy}}
  <div class="row centro">
    <h1>BIENVENIDO VISITANTE</H1>
  </div>
  <div class="row login-status">
    <div class="col-sm-3 boton-tickets-emitidos">
      <a href="{% url 'empleado' %}" class="btn btn-primary">Emitir Ticket</a>
    </div>
    <div class="col-sm-3 boton-tickets-emitidos">
      <a href="{% url 'lista_productos' %}" class="btn btn-primary">Lista Productos</a>
    </div>
  </div>

</form>
{% endblock content %}