#titulo_principal{
    /*margin-left: 40%;*/
    text-align: center;
}
#titulo_secundario{
    /*margin-left: 40%;*/
    text-align: center;
}
#titulo_terciario{
    /*margin-left: 40%;*/
    text-align: center;
}
#tabla1{
    text-align: center;
}
#mensaje{
    text-align: center;
}